*{
    padding: 0%;
    margin: 0%;
}
body{
font-family: "Alegreya", serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; /*This is for Box shadow*/
}
.navbar-links
{
    display: flex;
    column-gap: 10px;
}
.navbar-links a{

    text-decoration: none;
    color:#1D232C;
}
.navbar-links a:hover{
    text-decoration: underline;
    color:#1D232C;

}
.navbar-menu-toggle
{
    display: none;
}
/*Side Navbar*/
.side-navbar{
    background-color: #1D232C;
    width: 15%;
    height: 100%;
    left: -60%;/*So here we didnt use display block to hide the side bar we just push that into left side and when we click that three lines we have to make this 0 */
    position: fixed; /*This line keeps the side navbar in a fixed position while you scrolling*/
    padding: 20px;
    color: white;
    transition: 2s;
    
    
}
/*Side Navbar Links styling*/
.side-navbar-link
{
    margin-bottom: 20px;
}
.side-navbar-links a
{
    text-decoration: none;
    color: white;
}
.side-navbar-links a:hover
{
    text-decoration: underline;
    
}
/*Header*/
.header
{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    margin-bottom: 10px;
}
.header-button
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    background-color: #1D232C;
    color: white;
    border: none;
    
}
.service
{
    padding: 20px;

}
.service-container-1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;

}
.best-books
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*this is lets 2 image when the screen get small*/
}
.best-books-container
{
    position: relative;
    flex-basis: 20%;
    margin-top:40px;
    padding:20px;
}
.best-books button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 13%;
    border-radius: 10px;
    border:none;
}
.best-books img{
    width:180px;
    height:260px;
    object-fit:cover;
}

/*Media Query (For Mobile Responsive)*/
@media screen and (max-width:700px) {
    .navbar-menu-toggle
{
    display: block;
}
.navbar-links
{
    display: none;
}
.header-image
{
    display: none;
}
.service-container-1
{
    display: none;
}
.service-container-2{
    flex-direction: column;
}
}
